<nav class = "container mx-auto flex justify-between items-center py-4 my-2">   
    <div class="logo">
        <h2 class = "text-3xl"><span class = "font-semibold text-slate-700">Money</span><span class = "font-semibold text-red-500">Tracker</span></h2> 
    </div>

    <ul class="navlinks flex flex-row gap-x-8 [&>li>a]:text-lg [&>li>a]:font-semibold [&>li>a]:p-4 hover:[&>li>a]:text-slate-500">    
        <li><a href="/">Home</a></li>
        <li><a href="#">Add</a></li>
        <li><a href="#">Profile</a></li>
    </ul> 
</nav>